.env
*.env
*.log
*.pyc
**/__pycache__/

.venv/
venv/
backend/.venv/
backend/.venv_broken_py311/
backend/.deps/
backend/.tmp/
backend/media/

english_lemon.db
backend/english_lemon.db

frontend/node_modules/
frontend/dist/
node_modules/
dist/

.DS_Store
